[Unit]
Description=Prepare node for cluster tests
Documentation=man:saphanasr-prep-for-test(8)
After=sbd.service
Wants=sbd.service
RefuseManualStart=yes

[Service]
Type=oneshot
ExecStart=/usr/share/SAPHanaSR-angi/bin/saphanasr-prep-for-test --force
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
