[Unit]
Description=pacemaker.service delayed start
Documentation=man:SAPHanaSR-pacemaker.timer(5)
#
# SBD_STARTMODE=[clean|always]
# SBD_DELAY_START=no
# sbd.service enabled
# corosync.service disabled
# pacemaker.service disabled
# pacemaker.timer enabled
#
# OnStartupSec disk-based SBD
#   SBD_DELAY_START = pcmk_delay_max + msgwait + corosync.token + corosync.consensus
# OnStartupSec diskless SBD
#   SBD_DELAY_START = 2 * SBD_WATCHDOG_TIMEOUT + corosync.token + corosync.consensus
# TODO EnvironmentFile=/etc/sysconfig/SAPHanaSR-pacemaker.timer to set OnStartupSec?
#
ConditionPathExists=/usr/lib/systemd/system/pacemaker.service
ConditionPathExists=!/usr/systemd/system/multi-user.target.wants/pacemaker.service

[Timer]
OnStartupSec=71
AccuracySec=1
Unit=pacemaker.service

[Install]
WantedBy=timers.target
