[Unit]
Description=Remove hdbdaemon PID files at boot
Documentation=man:SAPHanaSR-rmHdbPid(8)
Before=saphostagent.service
RefuseManualStart=yes

[Service]
Type=oneshot
ExecStart=/usr/share/SAPHanaSR-angi/bin/SAPHanaSR-rmHdbPid --force
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
