[Unit]
Description=Remove hdbdaemon PID files at boot
Documentation=man:SAPHanaSR-rmHdbPid(8)
Before=saphostagent.service

[Service]
Type=oneshot
ExecStart=/usr/bin/SAPHanaSR-rmHdbPid --force

[Install]
WantedBy=multi-user.target
